version: '3'

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ".:/var/myapp"
    env_file: .env
    restart: always

  s3:
    image: quay.io/minio/minio
    ports:
      - 9001:9001
    env_file: .env
    command: server /data --console-address ':9001'
    restart: always

  mq:
    image: rabbitmq:4.0-management-alpine
    ports:
      - 15672:15672
    env_file: .env
    restart: always
